<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="encoder" verbose="1">
    <test name="All Tests">
        <packages>
            <package name="openlr.encoder.*"/>
        </packages>
        <groups>
            <run>
                <exclude name="broken"/>
            </run>
        </groups>
    </test>
</suite>